@page
@model MyWebApp.Pages.RegisterModel
@{
}

<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Sign Up</div>
                    <div class="card-body">
                        <form name="sign-up-form" method="post">

                            <div asp-validation-summary="All" class="text-danger"/>

                            <div class="form-group row">
                                <label asp-for="Model.Username" class="col-md-4 col-form-label text-md-right mt-2">User Name</label>
                                <div class="col-md-6">
                                    <input type="text" asp-for="Model.Username" id="user_name" class="form-control" name="username">
                                    <span asp-validation-for="Model.Username" class="text-danger"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Model.Password" class="col-md-4 col-form-label text-md-right mt-2">Password</label>
                                <div class="col-md-6">
                                    <input type="password" asp-for="Model.Password" id="password" class="form-control" name="password">
                                    <span asp-validation-for="Model.Password" class="text-danger"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="confirm_password" class="col-md-4 col-form-label text-md-right mt-2">Confirm Pwd</label>
                                <div class="col-md-6">
                                    <input type="password" asp-for="Model.ConfirmPassword" id="confirm_password" class="form-control" name="confirm-password">
                                    <span asp-validation-for="Model.ConfirmPassword" class="text-danger"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Model.FirstName" class="col-md-4 col-form-label text-md-right mt-2">First Name</label>
                                <div class="col-md-6">
                                    <input type="text" asp-for="Model.FirstName" id="first_name" class="form-control" name="first-name">
                                    <span asp-validation-for="Model.FirstName" class="text-danger"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Model.LastName" class="col-md-4 col-form-label text-md-right mt-2">Last Name</label>
                                <div class="col-md-6">
                                    <input type="text" asp-for="Model.LastName" id="last_name" class="form-control" name="last-name">
                                    <span asp-validation-for="Model.LastName" class="text-danger"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Model.Birthdate" class="col-md-4 col-form-label text-md-right mt-2">Birthdate</label>
                                <div class="col-md-6">
                                    <input type="date" asp-for="Model.Birthdate" id="birthdate" class="form-control" name="birthdate">
                                    <span asp-validation-for="Model.Birthdate" class="text-danger"/>
                                </div>
                            </div>

                            <div class="form-group row">  
                                <button type="submit" class="btn btn-primary btn-sm mt-2">Save</button>
                                <button type="reset" class="btn btn-danger btn-sm mt-2">Cancel</button>         
                            </div>
                   
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>