@page
@model MyWebApp.Pages.RegisterModel
@{
}

<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Sign Up</div>
                    <div class="card-body">
                        <form name="sign-up-form" method="post">

                            <div asp-validation-summary="All" class="text-danger"/>

                            <div class="form-group row">
                                <label for="user_name" class="col-md-4 col-form-label text-md-right mt-2">User Name</label>
                                <div class="col-md-6">
                                    <input type="text" id="user_name" class="form-control" name="username">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right mt-2">Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="confirm_password" class="col-md-4 col-form-label text-md-right mt-2">Confirm Pwd</label>
                                <div class="col-md-6">
                                    <input type="password" id="confirm_password" class="form-control" name="confirm-password">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="first_name" class="col-md-4 col-form-label text-md-right mt-2">First Name</label>
                                <div class="col-md-6">
                                    <input type="text" id="first_name" class="form-control" name="first-name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="last_name" class="col-md-4 col-form-label text-md-right mt-2">Last Name</label>
                                <div class="col-md-6">
                                    <input type="text" id="last_name" class="form-control" name="last-name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="birth_date" class="col-md-4 col-form-label text-md-right mt-2">Birthdate</label>
                                <div class="col-md-6">
                                    <input type="date" id="birth_dateate" class="form-control" name="birthdate">
                                </div>
                            </div>

                            <div class="form-group row">  
                                <button type="submit" class="btn btn-primary btn-sm mt-2">Save</button>
                                <button type="reset" class="btn btn-danger btn-sm mt-2">Cancel</button>         
                            </div>
                   
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>